<!DOCTYPE html>
<html lang="en">
    <%-include('partials/encabezado.html');%>
<body>
    <%-include('partials/navegacion.html');%>
    <form action="/resultados" method="post" class="form">
        <label for="" class="form-label">Numero Recibo</label>
        <input type="number" class="form-control" name="Num" id="Num">
        <br>
        <label for="" class="form-label">Nombre: </label>
        <input type="text" class="form-control" name="Nom" id="Nom">
        <br>
        <label for="" class="form-label">Domicilio: </label>
        <input type="text" class="form-control" name="DOM" id="DOM">
        <br>
        <label for="" class="form-label">Tipo de servicio: </label>
        <select name="tipo" id="tipo">
            <option value="1">Domicilio</option>
            <option value="2">Comercial</option>
            <option value="3">Industrial</option>
        </select>
        <br>
        <label for="" class="form-label">Kilowatts Consumidos: </label>
        <input type="number" class="form-control" name="KC" id="KC">
        <br>
        <input type="submit" value="Enviar Informacion">
        <button id="btnLimpiar">Limpiar</button>
    </form>
    <%-include('partials/piepagina.html');%>
</body>
</html>